Repository openai/openai-agents-python, pull requests merged in 2025-10, with the labels that each got.

#1839 fix: making input_file's filename optional in code for supporting non-OpenAI models
  src/agents/models/chatcmpl_converter.py
Labels: feature:chat-completions

#1833 feat: #1829 add httpx_client_factory to MCPServerStreamableHttp initialization options
  examples/mcp/streamablehttp_custom_client_example/README.md
  examples/mcp/streamablehttp_custom_client_example/main.py
  examples/mcp/streamablehttp_custom_client_example/server.py
  src/agents/mcp/server.py
  src/agents/mcp/util.py
  tests/mcp/test_streamable_http_client_factory.py
Labels: enhancement, feature:mcp

#1827 fix: #1789 Fix multi-turn handling for conversation_id and previous_response_id: only send new items
  docs/running_agents.md
  src/agents/run.py
  tests/fake_model.py
  tests/test_agent_runner.py
Labels: bug, feature:core

#1856 docs: improve formatting consistency in tools documentation
  docs/tools.md
Labels: documentation
